.container {
    background: linear-gradient(10deg, #F0B71F, #E03609);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    
    font-size: 24px;
    font-weight: bold;
}