.container {
    display: flex;
    font-family: 'Orbitron', sans-serif;

}

.logo {
    font-size: 20px;
    font-weight: 900;
    background: -webkit-linear-gradient(45deg, #F0B71F, #E03609);
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;

}

.logoHead {
    display: flex;
    align-items: center;
    gap: 13px;
    cursor: pointer;
}

.logoWrapper {
    width: 40px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    /* სურვილისამებრ */
    overflow: hidden;
    cursor: pointer;
}