.container {
    padding: 30px 90px 90px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
}

.universeWraper {
    margin-top: 56px;
    display: flex;
    gap: 50px;
}