.container {
    font-family: 'Orbitron', sans-serif;
    width: 100%;
    max-width: 630px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 110px;
}

.headerText {
    background: -webkit-linear-gradient(45deg, #E03609, #F0B71F);
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.questionDetals {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-weight: 700;
    font-size: 24px;
    width: fit-content;
}

.number {
    align-self: flex-start;
    font-weight: 700;
    font-size: 24px;
    background: #E03609;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.corner {
    align-self: flex-start;
}