

.container {
    min-height: 100vh;
    padding-top: 40px;
    padding-bottom: 40px;
}

.containerWrapper {

    width: 100%;
    min-height: 90vh;
    background-color: #4a4a4a;
    display: flex;
    align-items: center;
    justify-content: center;
}