.container {
    color: white;
}
.long {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 1px;
    background-image: linear-gradient(to right, #E03609, #F0B71F);
}