@import url('https://fonts.cdnfonts.com/css/montserrat');


.container {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #DDDDDD;
    max-width: 580px;
    width: 100%;
    text-align: left;

}