.container {
    width: 255px;
    min-height: 196px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.eventHeader {
    font-size: 20px;
    font-weight: 300;
    width: 135px;
    text-align: right;
    text-transform: uppercase;
}

.eventInformation {
    text-align: right;
    color: #DDDDDD;
    text-align: right;
    width: 260px;
    font-weight: 300;
    line-height: 1.8;
    margin-top: 10px;
}

.button {
    margin-top: 25px;
}

.eventHeader span {
    font-weight: 400;
}