.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    background-color: #010101;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 5px;
    align-items: center;

}

.center {

    display: flex;
    align-items: center;
    width: 100%;
}
