.container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 5px;
    align-items: center;
    position: relative;

}

.center {

    display: flex;
    align-items: center;
    width: 100%;
}



.corner {

    position: absolute;
    bottom: 5.2px;
    left: -51.9px;

}

.cornerTwo {
    position: absolute;
    bottom: 5.2px;
    right: -26.9px;
}