.container {
    width: 25px;
    height: 25px;
    background-color: red;
    background-color: transparent;
    border-radius: 0 0 0 200px;
    /* მხოლოდ ერთი კუთხის მომრგვალება */
    border: 0;
    border-left: 25px solid #E03609;
    border-bottom: 25px solid #E03609;
    box-sizing: border-box;
    position: absolute;
    /* აქ ცვლით პოზიციას საჭიროებისამებრ */
}


.leftBottomCorner {
    rotate: 180deg;
}

.rightBottomCorner {
    rotate: 90deg;
}

.topRightCorner {
    rotate: 0deg;
}

.topLeftCorner {
    rotate: 270deg;
}

.yellow {
    // background-color: #F0B71F;
    border-left: 25px solid #F0B71F;
    border-bottom: 25px solid #F0B71F;
}