.container {
    min-height: 100vh;
    padding: 50px 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.content {
    // background-color: red;
    min-height: 600px;
    max-width: 668px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 84px;
    align-items: center;
}

// .contentImage {
//     max-width: 689px;
//     width: 100%;
//     min-height: 752px;
//     background-color: red;
// }
.countContent {
    display: flex;
    gap: 70px;
    margin-top: 80px;
}

.corner {
    position: absolute;
    top: 0;
    left: -25.5px;
}
.cornerTwo {
    position: absolute;
    top: 0;
    right: 0;
}