.container {
    font-size: 56.81px;
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
    width: 600px;

}

.headerText {
    font-weight: 700;
    background: -webkit-linear-gradient(110deg, #E03609, #F0B71F);
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}