.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    position: relative;
}


.contentLayout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.joinComponent {
    margin-top: 20px;
}

.corner {
    position: absolute;
    left: 0;
    bottom: 25px;

}

.cornerTwo {
    position: absolute;
    right: 25px;
    bottom: 25px;

}