.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}


.contentLayout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.joinComponent {
    margin-top: 20px;
}