.container {
    position: relative;
    height: 1px;
    background: linear-gradient(to right, #E03609, #F0B71F);
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}