@import url('https://fonts.cdnfonts.com/css/orbitron');

.container {
    display: flex;
    font-family: 'Orbitron', sans-serif;
    justify-content: space-between;
    font-weight: 500;
    width: 480px;
}

.menuItem {
    cursor: pointer;
    transition: transform 0.3s ease;
    // transition: border 1 left to right;
    color: #fff;
    padding: 5px 12px;
    // border-radius: 8px;
    font-size: 17px;
    // background-color: red;
}

.menuItem:hover {
    // background-color: #007acc;
    // background: linear-gradient(to right, #F0B71F, #E03609);
    transform: translateY(-3px);
    // border-radius: 50px;
    border-bottom: 1.5px solid white;

}