@import url('https://fonts.cdnfonts.com/css/orbitron');

.container {
    // width: 200px;
    // height: 46px;
    font-family: 'Orbitron', sans-serif;
    padding: 11px 21px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    // font-family: Montserrat;
    cursor: pointer;
    background: linear-gradient(to right, #F0B71F, #E03609);
}


.container:hover {
    cursor: pointer;
    filter: brightness(1.1);
    // transform: scale(1.0);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}