@import url('https://fonts.cdnfonts.com/css/orbitron');
.container {
    display: flex;
}




.header {
    font-family: 'Orbitron', sans-serif;
    font-size: 128px;
    font-weight: 700;
    background: -webkit-linear-gradient(45deg, #E03609, #F0B71F);
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}